<h1><%= "Assign Restaurants to Zones on #{@day.name}" %></h1>
<hr>
<%= link_to 'Back', delivery_schedule_index_path, class: 'btn btn-default back-navigation', type: 'button' %>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Restaurants</th>
    <th>Zones</th>
  </tr>
  <% @restaurants.each do |restaurant| %>
    <tr>
        <td><%= restaurant.id %>
        <td><%= restaurant.name %></td>
        <td>
          <%= form_tag url_for(controller: 'restaurant_zone_days', action: 'update_create'), method: 'post' do %>
            <%= hidden_field_tag 'restaurant_id', restaurant.id %>
            <%= hidden_field_tag 'day_id', @day.id %>
            <%= select_tag 'zone_day_id', options_from_collection_for_select(@zone_days, 'zone_day_id', 'zone_name', RestaurantZoneDay.restaurant_assigned_to_any_zones_by_day(restaurant.id, @day.id)&.zone_day_id), onchange: 'this.form.submit();', class: 'form-control', include_blank: 'None' %>
          <% end %>
        </td>
    </tr>
  <% end %>
</table>
<nav aria-label="">
  <ul class="pager">
    <li class="previous">
      <%= link_to assign_restaurants_to_zones_path(day_id: @day.previous_day_id) do %>
        <span aria-hidden="true">&larr;</span>
        <%= @day.previous_day.name %>
      <% end %>
    </li>
    <li class="next">
      <%= link_to assign_restaurants_to_zones_path(day_id: @day.next_day_id) do %>
        <%= @day.next_day.name %>
        <span aria-hidden="true">&rarr;</span>
      <% end %>
    </li>
  </ul>
</nav>
